/.phpunit.cache

website/public/build
website/public/hot
website/public/storage
website/storage/*
website/vendor
website/.env
website/node_modules

.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.DS_Store
app/.DS_Store

website/.vite
